<div class="bg_navbar">
    <img src="assets/major-full.png" alt="Logo" height="32px" />

    <ul class="navbar">
        <li class="navbar_items">
            <a href="" routerLink="/">Esportes</a>
        </li>
        <li class="navbar_items">
            <a href="" routerLink="/">Ao Vivo</a>
        </li>
        <li class="navbar_items">
            <a href="" routerLink="/">ILottery</a>
        </li>
        <li class="navbar_items">
            <a href="" routerLink="/">ILottery Ao Vivo</a>
        </li>
    </ul>

    <div class="group_bttns">
        <button class="bttn_secondary">Registrar</button>
        <button class="bttn_primary">Entrar</button>
    </div>
</div>