.bg_navbar {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: var(--bg-brand);
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 24px;

    li {
        list-style: none;

        a {
            font-size: 14px;
            text-decoration: none;
            color: var(--text-brand);

            &:hover {
                opacity: 0.8;
            }
        }
    }

}

.group_bttns {
    display: flex;
    align-items: center;
    gap: 16px;
}