:host {
    --bg-brand: #212121;
    --bg-footer: #212121;
    
    --text-brand: #ffffff;
    --text-secondary-brand: #b3b3b3;
    --primary-color-brand: #FF0000;

    --badge-started-bg: #FFE100;
    --badge-started-text: #9A7100;
    --badge-datefrom-bg: #676767;
    --badge-datefrom-text: #FFF;
}