<div class="card_vertical">
    <div class="card_top">
        <img [class.card_image]="true" [src]="data.image_url" alt="Card Image" />

        <div class="info_promo" *ngIf="timeRemaining !== 'Período não definido'">
            <div class="label">
                <strong>{{ timeRemaining }}</strong>
            </div>

            <div class="progress_full">
                <div class="progress_fit" [style.width.%]="porcentageToEnd"></div>
            </div>
        </div>

        <div class="overlay"></div>
    </div>

    <div class="card_body">
        <div class="badge_category">
            {{ data.categoria_fk.name }}
        </div>

        <h2>{{ data.title }}</h2>

        <small>{{ data.subtitle }}</small>

        <div class="group_bttns">
            <a [href]="data.url_redirect_cta" class="bttn_primary">
                {{ data.name_button_cta }}
            </a>
            <a [href]="'/detail/' + data.id" class="bttn_outline">Saiba mais</a>
        </div>
    </div>
</div>