.card_vertical {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: 100%;
  max-width: 420px;
}

.card_top {
  position: relative;

  img {
    width: 100%;
    height: 220px;
    object-fit: fill;
  }
}

.card_body {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  justify-content: space-between;
  gap: 12px;
  border: 2px solid; /* largura da borda */
  border-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, #ff0000 100%) 1;
  padding: 32px 26px;
}

.group_bttns {
  display: flex;
  align-items: center;
  gap: 12px;

  button {
    width: 100%;
    justify-content: center;
  }
}

.info_promo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--text-brand);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  justify-self: anchor-center;
  z-index: 99;
}

.progress_full {
  position: relative;
  background-color: var(--text-secondary-brand);
  height: 6px;
  border-radius: 30px;
}

.progress_fit {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 6px;
  border-radius: 30px;
  background-color: var(--primary-color-brand);
  z-index: 99;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 9;
}

.badge_category {
  background-color: #676767;
  color: #000000;
  border-radius: 4px;
  padding: 6px 8px;
  width: fit-content;
  font-size: 12px;
}
