<div class="card_highlight">
    <div>
        <img src="assets/card-test.png" alt="Card Test" />
    </div>
    <div class="info_detail">
        <h2>Torneio de Mesa: Mais de 10.000 em prêmios</h2>
        <div class="group_badge">
            <div class="badge started">Iniciado</div>
            <div class="badge datefrom">02 a 07/09</div>
        </div>
        <div class="info_promo">
          <div class="label" *ngIf="!ended">
            Termina em:
          </div>
          <div class="value">
            {{ timeRemaining }}
          </div>
        
          <div class="progress_full">
            <div class="progress_fit" [style.width.%]="porcentageToEnd"></div>
          </div>
        </div>
    </div>
</div>