.card_highlight {
    display: flex;
    align-items: self-start;
    gap: 12px;
    background-color: #000;
    border-radius: 8px;
}

.info_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    border: 2px solid; /* largura da borda */
    border-image: linear-gradient(90deg, rgba(0,0,0,0.55) 0%, #ff0000 100%) 1;
    width: 100%;
    height: -webkit-fill-available;

    h2 {
        color: var(--text-brand);
    }

    h4 {
        color: var(--text-secondary-brand);
        font-weight: 200;
        font-size: 12px;
    }
}

.info_promo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--text-brand);
}

.group_badge {
    display: flex;
    gap: 8px;
    align-items: center;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 42px;
    width: fit-content;
    font-size: 12px;
}

.badge.started {
    background-color: var(--badge-started-bg);
    color: var(--badge-started-text);
}

.badge.datefrom {
    background-color: var(--badge-datefrom-bg);
    color: var(--badge-datefrom-text);
}

.progress_full {
    position: relative;
    background-color: var(--text-secondary-brand);
    height: 6px;
    border-radius: 30px;
}

.progress_fit {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 6px;
    border-radius: 30px;
    background-color: var(--primary-color-brand);
}

.group_bttns {
    display: flex;
    align-items: center;
    gap: 12px;

    button {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}