<div class="card_highlight">
  <img class="card_image" src="assets/card-test.png" alt="Card Test" />
  <div class="info_detail">
    <div class="time" *ngIf="!ended">Termina em {{ timeRemaining }}</div>
    <div class="time" *ngIf="ended">Tempo encerrado</div>

    <div class="group_badge">
      <div class="badge started">Iniciado</div>
      <div class="badge datefrom">02 a 07/09</div>
    </div>

    <h3 class="title">Torneio de Mesa: Mais de 10.000 em prêmios</h3>
    <p class="description">Aposte nos jogos mais populares e concorra a prêmios.</p>

    <button nz-button nzType="primary">Quero participar</button>

    <div class="progress_full">
      <div class="progress_fit" [style.width.%]="porcentageToEnd"></div>
    </div>
  </div>
</div>
